## Manoj Mahanty - Jr. Engineer - Data Analytics
####  Python | MATLAB | R Begineer | SQL, PostgreSQL | MS Excel
![](https://media-exp1.licdn.com/dms/image/C4E03AQHQwbwhrso79w/profile-displayphoto-shrink_100_100/0/1630124536553?e=1635379200&v=beta&t=VSAf_0U1A_gCd9m1GEN_UMYQTiCgumibjqYsfXp2_VM)  
 
* email: mahantymanoj786@gmail.com
* LinkedIn : https://www.linkedin.com/in/manoj-mahanty-aa3769115/

# A Quick Tour of Variables and Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

This tutorial covers the following topics:

- Storing information using variables
- Primitive data types in Python: Integer, Float, Boolean, None and String
- Built-in data structures in Python: List, Tuple and Dictionary
- Methods and operators supported by built-in data types

## Print in Python

In [209]:
print('Single Quoate.')
print("Double Quoate.")
print('''This is paragraph 
written in python''')
print(""" hhsduahkfhdskhf
hghkhsadkhkjhdskjashd
jhkjhksad""")

Single Quoate.
Double Quoate.
This is paragraph
written in python
 hhsduahkfhdskhf
hghkhsadkhkjhdskjashd
jhkjhksad

### print( ) statement
* print( ) statement is used to print the output

In [223]:
print('a')# Since 'a' is string it prints 'a' but print(a) gives error if a is not initial

a

In [224]:
a = 10
print(a)

10

In [225]:
a,b,c=10,20,30
print("The values of a,b,c are : ",a,b,c)

The values of a,b,c are :  10 20 30

### end( ) attribute
* This attribute is used if we need the output in a single line.

In [228]:
a=[10,20,30,40,50,60]
for i in a:
    print(i)

10
20
30
40
50
60

As seen in above output it is printing in different lines. To print in single line

In [229]:
for i in a:
    print(i, end=' ') # end=' '(We are printing output in single line)

10 20 30 40 50 60

In [230]:
print('Hello')
print('World')

Hello
World

In [231]:
print('Hello',end=' ')
print('World')

Hello World

### sep( ) attribute
* This attribute used to seperate two different outputs

In [232]:
print('10','08','2021',sep='-')

10-08-2021

In [233]:
print('Hello','Balaji','How','are','you',sep=' @ ')

Hello @ Balaji @ How @ are @ you

Using end( ) and sep( ) in a single line

In [234]:
print(10,20,30,sep=':',end='!')

10:20:30!

### print( ) statement with replacemenet operator {}

In [235]:
a= 'Balaji'
b = 'Hello'
print("{} {}!,how are you?".format(a,b))

Balaji Hello!,how are you?

Replacement Operator based on Index

In [236]:
Age = 21
Goal = 'Data Scientist'
Name = 'Balaji'
print("Hello {2}, your age is {1}, your goal is to become a {0}".format(Goal,Age,Name))

Hello Balaji, your age is 21, your goal is to become a Data Scientist

### print( ) with formatted string
* '%i' (Signed Decimal Value)
* '%d' (Signed Decimal Value)
* '%f' (Signed float Value)
* '%s' (String, list, set type)

In [237]:
a = 10
print("Value of a : %i"%a)

Value of a : 10

In [238]:
a = 20.998
print('integer value is : %d'%a)
print('integer value is : %i'%a)

integer value is : 20
integer value is : 20

In [239]:
a = 20.998
print('Float value is : %f'%a)

Float value is : 20.998000

Here, if we need upto 2 decimals in float value we use '%.2f'

In [240]:
a = 20.6874
print('Float value is : %.2f'%a)

Float value is : 20.69

## Storing information using variables

Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value.

## Variable 
Variable is a container which store any value


![]()

In [210]:
A = 5 #Integer
B = 10.5 # Float
C = 'Python' # String
D = complex(A,2)

In [8]:
my_favorite_color = "blue"
my_favorite_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [10]:
color1, color2, color3 = "red", "green", "blue"
print(color1)
print(color2)
print(color3)

red
green
blue

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [11]:
color4 = color5 = color6 = "magenta"
print(color4)
print(color5)
print(color6)

magenta
magenta
magenta

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [12]:
counter = 10
counter = counter + 1
counter

11

In [13]:
# Same as `counter = counter + 4`
counter += 4
counter

15

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [14]:
a variable = 23

SyntaxError: invalid syntax (<ipython-input-14-b4f9daa715a5>, line 1)

In [15]:
is_today_$aturday = False

SyntaxError: invalid syntax (<ipython-input-15-3785425ca227>, line 1)

In [16]:
my-favorite-car = "Delorean"

SyntaxError: can't assign to operator (<ipython-input-16-829f5ed5b10b>, line 1)

In [17]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

SyntaxError: invalid token (<ipython-input-17-41d8638a15bb>, line 1)

In [18]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [19]:
type(a_variable)

int

In [20]:
type(is_today_Saturday)

bool

In [21]:
type(my_favorite_car)

str

In [22]:
type(the_3_musketeers)

list

# Data Type in Python
Immutable Data Type
1) Frozen set 
2) Bytes 
3) Boolean
4) Numeric: Integer, Float, Complex
5) String
6) Tuple

Mutable Data Type
1) List
2) Dictionary
3) set
4) Byte array

![](https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg)

In [23]:
A = 5 #Integer
B = 10.5 # Float
C = 'Python' # String
D = complex(A,2)

In [24]:
print(f'A: {A}, datatype is {type(A)}')
print(f'B: {B}, datatype is {type(B)}')
print(f'C: {C}, datatype is {type(C)}')
print(f'D: {D}, datatype is {type(D)}')

A: 5, datatype is <class 'int'>
B: 10.5, datatype is <class 'float'>
C: Python, datatype is <class 'str'>
D: (5+2j), datatype is <class 'complex'>

## Immutable Data Type
### Frozen Set

In [25]:
vowels = ('a','e','i','o','u')
vowels = frozenset(vowels)
print(f'Vowels: {vowels}, Data type: {type(vowels)}')

Vowels: frozenset({'a', 'i', 'u', 'e', 'o'}), Data type: <class 'frozenset'>

### Bytes

In [26]:
byt = bytes([1,2,5])
print(f'byt: {byt}, datatype: {type(byt)}')
byt[1]

byt: b'\x01\x02\x05', datatype: <class 'bytes'>

2

### Boolean

In [27]:
b = bool(1)
print(b)

True

### String and String operation

In [28]:
a = 'Hello'
print(a)
a = "Hello"
print(a)

Hello
Hello

### Multiline Strings

In [29]:
a = """Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string."""
print(a)

Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

In [30]:
print(a[1]) #character at position 1

t

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [32]:
today = "Saturday"

In [33]:
today.lower()

'saturday'

In [34]:
"saturday".upper()

'SATURDAY'

In [35]:
"monday".capitalize() # changes first character to uppercase

'Monday'

The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [37]:
another_day = today.replace("Satur", "Wednes")
another_day

'Wednesday'

Note that `replace` returns a new string, and the original string is not modified.

In [38]:
today

'Saturday'

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [39]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [40]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "
a_long_line_stripped = a_long_line.strip()
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [41]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [42]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [43]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [44]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

You can `str` to convert a value of any data type into a string.

In [45]:
str(23.432)

'23.432'

In [46]:
str(True)

'True'

Note that all string methods return new values and DO NOT change the existing string. You can find a full list of string methods here: https://www.w3schools.com/python/python_ref_string.asp. \
Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.

### Slicing String Opeartion

![](https://api.codewithharry.com/media/videoSeriesFiles/courseFiles/python-tutorials-for-absolute-beginners-8/Stringslice_2.jpg)

In [47]:
b = "Hello, World!"
print(b[2:5]) #characters from position 2 to position 4 (5 not included)

llo

In [48]:
b = "Hello, World!"
print(b[:5]) #characters from position 0 to position 4 (5 not included)

Hello

In [49]:
b = "Hello, World!"
print(b[2:]) #characters from position 2 to position end

llo, World!

In [50]:
b = "Hello, World!"
print(b[-5:-2]) # Negative Index access in reverse order and print

orl

In [51]:
a = "Hello, World!"
print(a.upper()) # upper case
print(a.lower()) # lower case

HELLO, WORLD!
hello, world!

In [52]:
a = " Hello, World! "
print(a.rstrip())  # remove white space after last character
print(a.lstrip()) # remove white space before first character
print(a.strip()) # remove white space for both side returns "Hello, World!"

 Hello, World!
Hello, World!
Hello, World!

In [54]:
a = "Hello, World!"
print(a.split(",")) # split after a character/string match returns ['Hello', ' World!']
print(a.rsplit()) # split after a white space

['Hello', ' World!']
['Hello,', 'World!']

### String Concatenation

In [55]:
a = 'Hello'
b = "World"
c = a + b
print(c)

HelloWorld

In [56]:
a = "Hello"
b = "World"
c = a + " " + b # add a space between Hello and world
print(c)

Hello World

### Format string

In [57]:
age = 25
txt = "My name is Manoj, and I am {}"
print(txt.format(age)) # format string
print(f'My name is Manoj, and I am {age}') # format string

My name is Manoj, and I am 25
My name is Manoj, and I am 25

In [58]:
quantity = 3
itemno = 'Orange'
price = 49.955697
myorder = "I want {} pieces of item {} for {} Ruppes."
print(myorder.format(quantity, itemno, price))
print(f'I want {quantity} pieces of item {itemno} for {price:.2f} Ruppes')

I want 3 pieces of item Orange for 49.955697 Ruppes.
I want 3 pieces of item Orange for 49.96 Ruppes

### Escape Character \

In [59]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [60]:
txt = 'It\'s Python.' # Single Quote
print(txt)

It's Python.

In [61]:
txt = "This will insert one \\ (backslash)." # Backslash
print(txt)

This will insert one \ (backslash).

### Python Boolean

In [62]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

## Mutable Data Type
## Byte Array

In [63]:
str = "Geeksforgeeks" 
# encoding the string with unicode 8 and 16 
array1 = bytearray(str, 'utf-8') 
array2 = bytearray(str, 'utf-16') 
  
print(array1) 
print(array2)
array1[2]

bytearray(b'Geeksforgeeks')
bytearray(b'\xff\xfeG\x00e\x00e\x00k\x00s\x00f\x00o\x00r\x00g\x00e\x00e\x00k\x00s\x00')

101

In [64]:
size = 5

arr = bytearray(size)
print(arr)
arr[0:2]

bytearray(b'\x00\x00\x00\x00\x00')

bytearray(b'\x00\x00')

### Tuple


A tuple is a collection which is ordered and unchangeable. \
Tuples are written with round brackets. 

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

![]()

In [65]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple) # Tuples allow duplicate values

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [66]:
len(thistuple) # length of tuples

5

In [67]:
thistuple = ("apple",) # Tuple with one item ',' is used
print(type(thistuple))

thistuple = ("apple") # NOT a tuple since comma is not used
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [68]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [69]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets tuple() Constructor
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [70]:
tuple1[1] # accessing tuple elements

'banana'

In [72]:
fruits = ('apple', 'cherry', 'dates')
fruits

('apple', 'cherry', 'dates')

In [73]:
# check no. of elements
len(fruits)

3

In [74]:
# get an element (positive index)
fruits[0]

'apple'

In [75]:
# get an element (negative index)
fruits[-2]

'cherry'

In [76]:
# check if it contains an element
'dates' in fruits

True

In [77]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [78]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [79]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [80]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [81]:
single_element_tuple = 4,
single_element_tuple

(4,)

Tuples are often used to create multiple variables with a single statement.

In [82]:
point = (3, 4)
point_x, point_y = point
print(point_x)
print(point_y)

3
4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [83]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [84]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuples have just two built-in methods: `count` and `index`. Can you figure out what they do? While you look could look for documentation and examples online, there's an easier way to check a method's documentation, using the `help` function.

In [86]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"
a_tuple

(23, 'hello', False, None, 23, 37, 'hello')

In [87]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

Within a Jupyter notebook, you can also start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the function/method's documentation in a pop-up window.

![](https://img.brainkart.com/extra3/nwHErS8.jpg)

# Set
A set is a collection which is both unordered and unindexed. \
Sets are written with curly brackets. \
Set is used to eleminate multiple entries

![](https://pynative.com/wp-content/uploads/2021/03/python-sets.jpg)

In [90]:
myset = {"apple", "banana", "cherry"}
myset

{'apple', 'banana', 'cherry'}

In [91]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset) # Duplicate not allowed

{'cherry', 'banana', 'apple'}

In [92]:
len(thisset) # Length of set

3

In [93]:
set1 = {"apple", "banana", "cherry"} # string
set2 = {1, 5, 7, 9, 3} # int
set3 = {True, False, False} # Boolean
set1 = {"abc", 34, True, 40, "male"} # set with int, string and boolean
print(set1)
print(set2)
print(set3)
print(set3)

{True, 34, 40, 'male', 'abc'}
{1, 3, 5, 7, 9}
{False, True}
{False, True}

In [94]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
type(thisset)

{'cherry', 'banana', 'apple'}

set

### Operation on Set

![](https://www.engineeringbigdata.com/wp-content/uploads/python-sets-methods.jpg)

In [95]:
A = set(('Integer','Float','Complex','Array','Boolean'))
B = set(('Boolean','Complex','Array','frozenset'))
print(A,'\n',B)

{'Array', 'Float', 'Integer', 'Boolean', 'Complex'}
 {'frozenset', 'Array', 'Boolean', 'Complex'}

In [96]:
A.union(B) # A union B (all elements which are in either or (or both))

{'Array', 'Boolean', 'Complex', 'Float', 'Integer', 'frozenset'}

![](https://www.cdn.geeksforgeeks.org/wp-content/uploads/Union-in-python.jpg)

In [97]:
A.intersection(B) # A intersection B (all elements which are common in A and B)

{'Array', 'Boolean', 'Complex'}

![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaMK9xNcnVR8WSCCs6UPdADMQZ7ixOqxpgwKakFUEhjLv92fsKpv9VP3YzXQOjHXisMGc&usqp=CAU)

In [98]:
S = A.difference(B) # A difference B (elements which are in A and not in B)
print(S)

{'Float', 'Integer'}

![]()

In [99]:
print(f'S: {S}, datatype: {type(S)}')
S.clear() # clear the item of set
print(S)

S: {'Float', 'Integer'}, datatype: <class 'set'>
set()

### Set Comparison

In [100]:
print('Float in A: ','Float' in A)
print('Python not in B: ','Python' not in B)
print('A==B',A==B)
print('A!=B',A!=B)
print('A<=B',A<=B)
print('A>=B',A>=B)

Float in A:  True
Python not in B:  True
A==B False
A!=B True
A<=B False
A>=B False

### Dictionary

Dictionaries are used to store data values in key:value pairs.\
A dictionary is a collection which is unordered, changeable and does not allow duplicates. \
Dictionaries are written with curly brackets, and have keys and values: 

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

![](https://pynative.com/wp-content/uploads/2021/02/dictionaries-in-python.jpg)

In [101]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [102]:
print(thisdict["brand"]) # Access dictionary value using key as index

Ford

In [103]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,  "year": 2020,"release" :'2020'
}
print(thisdict) # dictionary doesnot allow duplicate key but allow duplicate values
type(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'release': '2020'}

dict

In [104]:
print(len(thisdict)) # length of dictionary

4

In [105]:
thisdict.keys() # all keys of dictionary

dict_keys(['brand', 'model', 'year', 'release'])

In [106]:
thisdict.values() # all values of dictionary

dict_values(['Ford', 'Mustang', 2020, '2020'])

In [107]:
thisdict.items() # all key and value of dictionary

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('release', '2020')])

In [108]:
thisdict.get('brand') # get value using key

'Ford'

In [109]:
thisdict.update({'brand':'Jaguar'}) # Update any key value
print(thisdict)
thisdict['model'] = 'x series' # Update any key value
thisdict['Model'] = 'Xl720' # add new key and value
print(thisdict)

{'brand': 'Jaguar', 'model': 'Mustang', 'year': 2020, 'release': '2020'}
{'brand': 'Jaguar', 'model': 'x series', 'year': 2020, 'release': '2020', 'Model': 'Xl720'}

Dictionaries can also be created using the `dict` function.

In [110]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

In [111]:
person1['address']

NameError: name 'person1' is not defined

You can also use the `get` method to access the value associated with a key.

In [112]:
person2.get("name")

'Jane Judy'

The `get` method also accepts a default value, returned if the key is not present in the dictionary.

In [113]:
person2.get("address", "Unknown")

'Unknown'

You can check whether a key is present in a dictionary using the `in` operator.

In [116]:
'name' in person2

True

In [117]:
'address' in person2

False

You can change the value associated with a key using the assignment operator.

In [118]:
person2['married']

False

In [119]:
person2['married'] = True
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictionary.

### Dictionary Operation

![](https://i0.wp.com/techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/python-dictionary-methods.jpg?ssl=1)

In [126]:
d1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,  "year": 2020,"release" :'2020'
}
print(d1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'release': '2020'}

In [127]:
d2 = d1.copy() # copy of d1 in d2
print(d2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'release': '2020'}

In [128]:
d1.fromkeys('brand') # Returns a dictionary with the specified keys and value

{'b': None, 'r': None, 'a': None, 'n': None, 'd': None}

In [129]:
d1.values() # Return all values

dict_values(['Ford', 'Mustang', 2020, '2020'])

To remove a key and the associated value from a dictionary, use the `pop` method.

In [134]:
person1 = {'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}
person1['address'] = '1, Penny Lane'
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

In [135]:
person1.pop('address')

'1, Penny Lane'

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [136]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [137]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [138]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [139]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

Dictionaries provide many other methods. You can learn more about them here: https://www.w3schools.com/python/python_ref_dictionary.asp .

Here are some experiments you can try out with dictionaries (use the empty cells below):
* What happens if you use the same key multiple times while creating a dictionary? 
* Aswer: No, each key in a dictionary should be unique. You can't have two keys with the same value. Attempting to use the same key again will just overwrite the previous value stored 


* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Aswer: dict2 = dict1.copy()


* Can the value associated with a key itself be a dictionary?
* Answer: The key and value in a dictionary must be an object; however, everything in Python is an object and thus anything can be used as a key or a value


* How can you add the key-value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Answer: eg- CountryCodeDict = {"India": 91, "UK" : 44 , "USA" : 1, "Spain" : 34} >>   CountryCodeDict.update( {'Germany' : 49} )



* Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.?
* Answer: Almost any type of value can be used as a dictionary key in Python

### List
Lists are used to store multiple items in a single variable.\
List is a container which hold element and mutuable data type

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

![](https://pynative.com/wp-content/uploads/2021/03/python-list.jpg)

In [142]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [143]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist) # Allow Duplicate Elements

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [144]:
print(len(thislist)) # length of the list

5

In [145]:
list1 = ["apple", "banana", "cherry"] # string data type
list2 = [1, 5, 7, 9, 3] # Integer data type
list3 = [True, False, False] # Boolean data type
list4 = ['apple',1,5,True,'cherry'] # mixed data type in list
print(list1)
print(list2)
print(list3)
print(list4)
type(list4)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['apple', 1, 5, True, 'cherry']

list

In [146]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets list() Constructor
print(thislist)

['apple', 'banana', 'cherry']

In [147]:
myList = list() # creating empty list
myList = ['physics', 'chemistry', 1997, 2000] # initialize list 
print(myList)
myList[1] # Access List elements

['physics', 'chemistry', 1997, 2000]

'chemistry'

In [148]:
myList[1]='Python' # Updating List element at index 1
print(myList)

['physics', 'Python', 1997, 2000]

In [149]:
myList.append('Program')
myList.append('List')
print(myList) # appending new element in list

['physics', 'Python', 1997, 2000, 'Program', 'List']

In [150]:
del myList[-1] # delete last element in the list
print(myList)

['physics', 'Python', 1997, 2000, 'Program']

In [151]:
myList[-1] = [] # update null to last element
print(myList)

['physics', 'Python', 1997, 2000, []]

In [152]:
list2 = ['Manoj']
list2 = myList.copy() # create a copy or recreate myList element to list2
print(list2)

['physics', 'Python', 1997, 2000, []]

In [153]:
myList.insert(1,'Manoj') # insert element at index
print(myList)

['physics', 'Manoj', 'Python', 1997, 2000, []]

In [154]:
list1 + list2 # List Concatenation

['apple', 'banana', 'cherry', 'physics', 'Python', 1997, 2000, []]

In [155]:
print(list1)
list1*2 # List Repetition

['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [156]:
print('apple in list1: ','apple' in list1) # Membership

apple in list1:  True

In [157]:
for x in list1: print(x) # Iteration

apple
banana
cherry

In [158]:
[x for x in list1] # List Comprehension

['apple', 'banana', 'cherry']

Let's try creating a list containing values of different data types, including another list.

In [159]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list

[23, 'hello', None, 3.14, ('apple', 'cherry', 'dates'), True]

In [160]:
empty_list = []
empty_list

[]

To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.

In [172]:
fruits = ['apple', 'cherry', 'dates']
len(fruits)

3

In [167]:
print("Number of fruits:", len(fruits))
print('length: ',len(a_list))

Number of fruits: 3
length:  6

You can access an element from the list using its *index*, e.g: `fruits[2]` return the element at index 2 within the list `fruits`. The starting index of a list is 0.

In [169]:
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
cherry
dates

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [173]:
fruits[3]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [174]:
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])

dates
cherry
apple

In [175]:
fruits[-4]

IndexError: list index out of range

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [177]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list

[23, 'hello', None, 3.14, ['apple', 'cherry', 'dates'], True]

In [178]:
len(a_list)

6

### List Slicing

![](https://static.javatpoint.com/python/images/lists-indexing-and-splitting.png)

In [179]:
a_list[2:5]

[None, 3.14, ['apple', 'cherry', 'dates']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `a_list[12:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. Let your curiosity run wild, discover what Python is capable of and what it isn't!

### List Operation

![](https://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1592084676/list3_ldpeim.png)

You can also change the value at a specific index within a list using the assignment operation.

In [180]:
fruits

['apple', 'cherry', 'dates']

In [181]:
fruits[1] = 'blueberry'
fruits

['apple', 'blueberry', 'dates']

A new value can be added to the end of a list using the `append` method.

In [184]:
fruits.append('dates')
fruits

['apple', 'blueberry', 'dates', 'dates']

A new value can also be inserted at a specific index using the `insert` method.

In [186]:
fruits.insert(1, 'banana')
fruits.insert(1, 'banana')
fruits

['apple', 'banana', 'banana', 'blueberry', 'dates', 'dates']

You can remove a value from a list using the `remove` method.

In [188]:
fruits.remove('blueberry')
fruits

['apple', 'banana', 'dates', 'dates']

What happens if a list has multiple instances of the value passed to `.remove`? Try it out.

In [187]:
fruits.remove('banana')
fruits

['apple', 'banana', 'blueberry', 'dates', 'dates']

To remove an element from a specific index, use the `pop` method. The method also returns the removed element.

In [189]:
print(fruits)
fruits.pop(1)
fruits

['apple', 'banana', 'dates', 'dates']

['apple', 'dates', 'dates']

If no index is provided, the `pop` method removes the last element of the list and return the pop element

In [190]:
fruits.pop()

'dates'

In [191]:
fruits

['apple', 'dates']

Maximum and minimum value in the list

In [192]:
list2 = [1,5,8,2,3,7,9,15,3,1,5,5]
print(list2)
print('Maximum: ',max(list2))
print('Minimum: ',min(list2))

[1, 5, 8, 2, 3, 7, 9, 15, 3, 1, 5, 5]
Maximum:  15
Minimum:  1

Sorting the list

In [193]:
print(list2)
list2.sort()
print(list2)

[1, 5, 8, 2, 3, 7, 9, 15, 3, 1, 5, 5]
[1, 1, 2, 3, 3, 5, 5, 5, 7, 8, 9, 15]

You can test whether a list contains a value using the `in` operator.

In [195]:
fruits

['apple', 'dates']

In [196]:
'pineapple' in fruits

False

In [198]:
'dates' in fruits

True

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [199]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original.

In [201]:
more_fruits_copy = more_fruits.copy()
more_fruits_copy

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [202]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'dates', 'tomato', 'guava', 'dates']

In [203]:
# Original list remains unchanged
more_fruits

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will affect the other.

In [204]:
more_fruits

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [205]:
more_fruits_not_a_copy = more_fruits
more_fruits_not_a_copy

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [206]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [207]:
more_fruits_not_a_copy

['apple', 'dates', 'tomato', 'guava', 'dates']

In [208]:
more_fruits

['apple', 'dates', 'tomato', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .


Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

![](https://4.bp.blogspot.com/-uRPZqKbIGwQ/XRtgWhC6qqI/AAAAAAAAH0w/--oGnwKsnpo00GwQgH2gV3RPwHwK8uONgCLcBGAs/s1600/comprehension.PNG)

In [213]:
# print fruits name if letter a is present
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

### Syntax and Example
newlist = [expression for item in iterable if condition == True]

In [214]:
# List comprehension
lstcomp = [x for x in fruits if 'a' in x]
print('List Comprehension: ', lstcomp)

List Comprehension:  ['apple', 'banana', 'mango']

In [215]:
newlist = [x for x in fruits if x != "apple"] # Accept item that is not apple
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [216]:
[x for x in fruits] # all elements in fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [217]:
[x for x in range(0,10) if x>5] # print number greater than 5 in range 0 to 10

[6, 7, 8, 9]

In [218]:
[x.upper() for x in fruits  if x!="banana"] # print in upper case if not banana

['APPLE', 'CHERRY', 'KIWI', 'MANGO']

Conditional If with List Comprehension

In [219]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
newlist = [x for x in fruits if x!='banana' or 'orange'] # both are same
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

### Nested List

In [221]:
list1 = ['Python',['Java','Core Java'],'OOP\'s'] # declare nested list
print(list1[1]) # access nest list
print(list1[1][1]) # access elements of nest list

['Java', 'Core Java']
Core Java

## Questions for Revision

Try answering the following questions to test your understanding of the topics covered in this notebook:

* What is a variable in Python?
* How do you create a variable? 
* How do you create multiple variables in a single statement?
* How do you create multiple variables with the same value?
* How do you change the value of a variable?
* How do you reassign a variable by modifying the previous value?
* What does the statement `counter += 4` do?
* What are the rules for naming a variable?
* Are variable names case-sensitive? Do `a_variable`, `A_Variable`, and `A_VARIABLE` represent the same variable or different ones?
* What is Syntax? Why is it important?
* What happens if you execute a statement with invalid syntax?
* How do you check the data type of a variable?
* What are the built-in data types in Python?
* What is a primitive data type? 
* What are the primitive data types available in Python?  Answer: Python has four primitive variable types: .Integers .Float .Strings .Boolean 

17. What is a data structure or container data type?
18. What are the container types available in Python?
19. What kind of data does the Integer data type represent?
20. What are the numerical limits of the integer data type?
21. What kind of data does the float data type represent?
22. How does Python decide if a given number is a float or an integer?
23. How can you create a variable which stores a whole number, e.g., 4 but has the float data type?
24. How do you create floats representing very large (e.g., 6.023 x 10^23) or very small numbers (0.000000123)?
25. What does the expression `23e-12` represent?
26. Can floats be used to store numbers with unlimited precision?
27. What are the differences between integers and floats?
28. How do you convert an integer to a float?
29. How do you convert a float to an integer?
30. What is the result obtained when you convert 1.99 to an integer?
31. What are the data types of the results of the division operators `/` and `//`?
32. What kind of data does the Boolean data type represent?
33. Which types of Python operators return booleans as a result?
34. What happens if you try to use a boolean in arithmetic operation?
35. How can any value in Python be covered to a boolean?
36. What are truthy and falsy values?
37. What are the values in Python that evaluate to False?
38. Give some examples of values that evaluate to True.
39. What kind of data does the None data type represent?
40. What is the purpose of None?
41. What kind of data does the String data type represent?
42. What are the different ways of creating strings in Python?
43. What is the difference between strings creating using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
44. How do you create multi-line strings in Python?
45. What is the newline character, `\n`?
46. What are escaped characters? How are they useful?
47. How do you check the length of a string?
48. How do you convert a string into a list of characters?
49. How do you access a specific character from a string?
50. How do you access a range of characters from a string?
51. How do you check if a specific character occurs in a string?
52. How do you check if a smaller string occurs within a bigger string?
53. How do you join two or more strings?
54. What are "methods" in Python? How are they different from functions?
55. What do the `.lower`, `.upper` and `.capitalize` methods on strings do?
56. How do you replace a specific part of a string with something else?
57. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?
58. How do you remove whitespace from the beginning and end of a string?
59. What is the string `.format` method used for? Can you give an example?
60. What are the benefits of using the `.format` method instead of string concatenation?
61. How do you convert a value of another type to a string?
62. How do you check if two strings have the same value?
63. Where can you find the list of all the methods supported by strings?
64. What is a list in Python?
65. How do you create a list?
66. Can a Python list contain values of different data types?
67. Can a list contain another list as an element within it?
68. Can you create a list without any values?
69. How do you check the length of a list in Python?
70. How do you retrieve a value from a list?
71. What is the smallest and largest index you can use to access elements from a list containing five elements?
72. What happens if you try to access an index equal to or larger than the size of a list?
73. What happens if you try to access a negative index within a list?
74. How do you access a range of elements from a list?
75. How many elements does the list returned by the expression `a_list[2:5]` contain?
76. What do the ranges `a_list[:2]` and `a_list[2:]` represent?
77. How do you change the item stored at a specific index within a list?
78. How do you insert a new item at the beginning, middle, or end of a list?
79. How do you remove an item from al list?
80. How do you remove the item at a given index from a list?
81. How do you check if a list contains a value?
82. How do you combine two or most lists to create a larger list?
83. How do you create a copy of a list?
84. Does the expression `a_new_list = a_list` create a copy of the list `a_list`?
85. Where can you find the list of all the methods supported by lists?
86. What is a Tuple in Python?
87. How is a tuple different from a list?
88. Can you add or remove elements in a tuple?
89. How do you create a tuple with just one element?
90. How do you convert a tuple to a list and vice versa?
91. What are the `count` and `index` method of a Tuple used for?
92. What is a dictionary in Python?
93. How do you create a dictionary?
94. What are keys and values?
95. How do you access the value associated with a specific key in a dictionary?
96. What happens if you try to access the value for a key that doesn't exist in a dictionary?
97. What is the `.get` method of a dictionary used for?
98. How do you change the value associated with a key in a dictionary?
99. How do you add or remove a key-value pair in a dictionary?
100. How do you access the keys, values, and key-value pairs within a dictionary?